[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
googlesearch-python = "*"

[dev-packages]
flake8 = "<=6.0.0"
pytest = "*"
python-dotenv = "*"
pytest-env = "*"

[requires]
python_version = "3.8"
